
body{
    background-image: url('../../assets/weatherpic.jpg');
}
.weather-app {
    /* background-image: url('../../assets/weatherpic.jpg'); */
    background-size: cover; /* Adjust to your preference */
    background-repeat: no-repeat; /* Adjust to your preference */
    background-attachment: fixed; /* Adjust to your preference */
  }
  

  .weather-table {
    width: 100%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
    border-radius: 10px; /* Add border radius for a card-like effect */
    padding: 15px; /* Add some padding for content */
  }
  
  .weather-table th {
    background-color: #f2f2f2;
  }
  
  .weather-row td {
    background-color: #fff;
  }
  
  .condition {
    font-weight: bold;
  }
  
  .search-button {
    margin-top: 10px;
  }
  
  .no-data-message {
    font-size: 18px;
    font-weight: bold;
  }

  .text-center {
    text-align: center;
  }

  @media (max-width: 768px) {
    .location-input,
    .search-button {
      width: 100%;
    }
  }
  .fa-sun{
    color: orange;
    padding: 5px;
  }
.card-text{
    font-size: larger;
}

.weather-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  .card{
    border: 1px solid rgb(17, 35, 197);
  }
  
  .weather-card:hover {
    transform: translateY(-5px);
  }
  
  .weather-card-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .weather-card-body {
    padding: 20px;
  }

  .weather-condition {
    font-weight: bold;
    font-size: 18px;
  }
  
  .weather-text {
    font-size: 16px;
  }
  
  .no-data-message {
    font-size: 18px;
    font-weight: bold;
    color: red;
  }
  
  .text-center {
    text-align: center;
  }

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .text-center {
    animation: fadeIn 1s ease-in-out;
  }
  
